*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Hiragino Sans GB","冬青黑体","Arial Unicode","Arial","Helvetica","SimHei","黑体","Microsoft YaHei New","Microsoft Yahei","微软雅黑","STXihei","华文细黑",sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.28571428571429;
    -webkit-text-size-adjust: none;
    color: #4a4f54;
    background-color: #4a4f54;
    overflow-x: hidden;
}
ul,li{
	list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
.fugai{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(255,255,255,.5);
	z-index: 99;
	display: none;
}





#daohang{
	max-width: 2000px;
	width: 100%;
	font-family: Hiragino Sans GB,\\51AC\9752\9ED1\4F53,Arial Unicode,Arial,Helvetica,SimHei,\\9ED1\4F53,Microsoft YaHei New,Microsoft Yahei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
    color: #4a4f54;
    height: 72px;
    font-size: 10px;
    margin: 0 auto;
    background: white;
    position: relative;
    z-index: 100;
}
#daohang .logo{
	min-width:140px;
	height: 100%;
	text-align: center;
	line-height: 72px;
}
#daohang .logo img{
	width: 89px;
	height: auto;
	vertical-align: middle;
}
#daohang .list li{
	padding: 0 5px;
	font-size: 1em;
	letter-spacing: 1.73px;
	margin: 0 5px;
	line-height: 72px;
	text-align: center;
	font-weight: 600;
}
#daohang .list li:hover{
	cursor: pointer;
	background: hsla(180,7%,92%,.6);
}
#xiala{
	background: white;
	width: 100%;
	max-height: 340px;
	position: absolute;
	top: 72px;
	box-sizing: border-box;
	padding: 55px 70px;
	display: none;
	z-index: 100;
}
#xiala .dh-ni{
	display: flex;
	/*display: none;*/
}
#xiala .dh-ni .dhxl-list{
	flex: 1 1;
	padding: 0 20px;
}
#xiala .dh-ni .dhxl-list h2{
    font-family: Hiragino Sans GB,\\51AC\9752\9ED1\4F53,Arial Unicode,Arial,Helvetica,SimHei,\\9ED1\4F53,Microsoft YaHei New,Microsoft Yahei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: .173em;
    color: #0c121c;
    margin-bottom: 35px;
}
#xiala .dh-ni .dhxl-list li{
	margin-bottom: 22px;
	font-weight: 600;
	color: #4a4f54;
	font-size: 1em;
}
/*////////轮播*/
#lunbo{
	max-width: 2000px;
	width: auto;
	margin: 0 auto;
	/*background: pink;*/
	position: relative;
	overflow: hidden;
}
#lunbo .jiaodian{
	height: 42px;
	position: absolute;
	left: 85px;
	bottom: 15px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.1);
	z-index: 1;
}
#lunbo .jiaodian span{
	cursor: pointer;
    font-family: "lr_ot4","arial","helvetica",sans-serif;
    color: #fff;
    font-size: 24px;
    padding: 18px 5px 0;
    font-weight: 700;
    line-height: 1em;
    width: 27px;
    text-align: center;
    opacity: .6;
    transition: font-size .3s linear;
}
#lunbo .jiaodian span:nth-of-type(1){
	font-size: 40px;
	opacity: 1;
}
#lunbo .lbdiv{
	max-width: 2000px;
	height: 100%;
	position: absolute;
	
}
#lunbo .lbimg{
	overflow: hidden;
	max-width: 2000px;
	width: auto;
	height: 100%;
	float: left;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;   /*把背景图扩大*/
	position: absolute;
	display: none;
}

#lunbo .lbimg .cont{
	box-sizing: border-box;
	width: 415px;
	background:  rgba(255,255,255,0.9);
	padding: 19px 25px 21px;
	color: #0c121c;
	position: absolute;
	display: none;
	left: 65px;
	top: 25%;
}
#lunbo .lbimg:nth-of-type(1) .cont{
	display: block;
}
#lunbo .lbimg .cont h1{
	font-size: 38px;
	letter-spacing: 0.05em;
	line-height: 1;
}
#lunbo .lbimg .cont p{
	font-size: 14px;
	padding-top: 4px;
	font-weight: normal;
	line-height: 1.2em;
	letter-spacing:1.36px;
}
#lunbo .lbimg .cont .liaojie{
	background: #0C121C;
	color: white;
	font-size: 14px;
	margin-top: 20px;
	line-height: 45px;
	min-width: 125px;
	padding: 1px 24px 0 24px;
	box-sizing: border-box;
	display: inline-block;
	font-weight: bold;
	letter-spacing:2.36px;
}
#lunbo .lbimg .cont .money{
	position: absolute;
	left: 0;
	bottom: -85px;
	box-sizing: border-box;
	width: 415px;
	background: rgba(228,232,232,0.9);
	color: #0C121C;
	padding: 25px;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 1.5px;
	
}
/*原理   关于*/
.yuanli-wai{
	max-width: 2000px;
	height: 41px;
	margin: 0 auto;
}
.yuanli-wai .nei{
	position: relative;
	color: #a4a7a9;
	margin: 0 90px;
}
.yuanli-wai .nei ul{
	display: table;	 /* 此元素会作为块级表格来显示*/
	table-layout: fixed;
	width: 100%;
	margin: 0 auto;
}
.yuanli-wai .nei ul li{
	display: table-cell; /*此元素会作为一个表格单元格显示*/
	border-right: 1px solid #5c6165;
	text-align: center;
	line-height: 41px;
	
}
.yuanli-wai .nei ul li:first-child{
	border-left: 1px solid #5c6165;
}
/*定制*/
.dingzhi{
	max-width: 2000px;
	margin: 0 auto;
	position: relative;
	padding: 0;
	background: white;
}
.dingzhi ul{
	width: 100%;
	/*height: 201px;*/
	margin: 0 auto;
	padding: 0 70px 35px;
	overflow: hidden;
}
.dingzhi ul li{
	width: 25%;
	height: 201px;
	box-sizing: border-box;
	float: left;
	padding: 40px 20px;
}
.dingzhi ul li span{
	display: inline-block;
	margin: 0 0 11px 0;
}
.dingzhi ul li h2{
	font-size: 16px;
    color: #0c121c;
    margin: 11px 0;
    font-weight: bold;
}
/*揽胜介绍*/
.lhjs{
	max-width: 2000px;
	background: #4A4F54;
	color: #e4e8e8;
	margin: 0 auto;
}
.lhjs-nei{
	margin: 0 auto;
	padding: 80px 90px 40px;
	
}
.lhjs-nei .zuo{
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 0 20px;
}
.lhjs-nei .zuo p{
	font-size: 36px;
}
.lhjs-nei .zuo span:nth-of-type(1){
	display: block;
	font-size: 13px;
	margin-top: 11px;
}
.lhjs-nei .zuo span:nth-of-type(2){
	display: block;
	font-size: 11px;
	margin-top: 1px;
}
.lhjs-nei .you{
	float: left;
	width: 50%;
	padding: 0 20px;
	box-sizing: border-box;
}
.lhjs-nei .you .el{
	box-sizing: border-box;
	width: 50%;
	float: left;
	padding: 0 20px 40px;
}
.lhjs-nei .you .el h3{
	margin-bottom: 22px;
	font-size: 16px;
}

/*标题*/
.title{
	max-width: 2000px;
	margin: 0 auto;
	padding: 80px 90px;
	text-align: center;   
	background: #f8f9f9;
	color: #4A4F54;
	font-size: 28px;
	box-sizing: border-box;
}
.title span{
	display: inline-block;
	border-bottom: 3px solid #4A4F54 ;
	border-top: 3px solid #4A4F54 ;
	padding: 2px 0;
}
.gzyl{
	max-width: 2000px;
	width: auto;
	height: 100%;
	margin: 0 auto;
	background: url(imgs/03.webp) no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}
.gzyl .nei{
	position: absolute;
	left:85px;
	top: 40%;
	width: 416px;
}
.gzyl .nei h2{
	font-size: 24px;
	margin-bottom: 18px;
}
/*////关于新能源*/
#guanyu{
	max-width: 2000px;
	background: #e9ecec;
	color: #4A4F54;
	margin: 0 auto;
}
#guanyu .nei{
	padding: 80px 70px 40px;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
}
#guanyu .nei .el{
	width: 25%;
	float: left;
	box-sizing: border-box;
	padding: 0 20px 40px;
	
}
#guanyu .nei .el img{
	width: 100%;
	max-height: 280px;
}
#guanyu .nei .el h2{
	margin-top: 20px;
	margin-bottom: 22px;
	font-size: 16px;
	letter-spacing: 0.05em;	
}
#guanyu .nei .el p{
	letter-spacing: 0.03em;	
}
/*///充电*/
.cd{
	max-width: 2000px;
	width: auto;
	height: 100%;
	margin: 0 auto;
	background: url(imgs/02.webp) no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}
.cd .nei{
	padding: 20px;
	background: rgba(255,255,255,.9);
}
/*选择您的车型*/
.chexing{
	background: #4A4F54;
	color: white;
}
.chexing span{
	border-color: white;
}
.cx{
	max-width: 2000px;
	margin: 0 auto;
	color: white;
}
.cx .el{
	width: 33.333%;
	padding: 0 20px;
	margin-bottom: 55px;
	box-sizing: border-box;
	float: left;
}
.cx .el:nth-of-type(1){
	margin-left: 16.667%;
}
.cx .el div{
	width: 100%;
}
.cx .el div img{
	width: 100%;
}
.cx .el h2{
	margin: 22px 0 5.5px;
}
.cx .el .money{
	font-size: 11px ;
	letter-spacing: 1.5px;
	line-height: 1;
	margin-bottom: 0.7em;
	padding: 1px 0;
}
.cx .el .cont{
	height: 54px;
	margin: 22px 0 22px;
	font-weight: 700;
}
.cx .el .span{
	border-top: 1px solid #a4a7a9;
	
}
.cx .el .span span{
	display: block;
	height: 19px;
	margin: 22px 0;
	font-size: 14px;
	font-weight: bold;
}
.kong{
	max-width: 2000px;
	margin: 0 auto;
	padding: 0 90px;
	box-sizing: border-box;
	border: 1px solid #a4a7a9;
	margin-bottom: 40px;
}
.text{
	max-width: 2000px;
	padding:0 90px 80px;
	background: #E9ECEC;
	color: #4a4f54;
	margin:  0 auto;
}
#dibu{
	max-width: 2000px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 70px;
	color: white;
}
#dibu .el{
	float: left;
	width: 25%;
	padding: 0 20px 22px;
	box-sizing: border-box;
}
#dibu .el h2{
	padding: 0 0 14px;
    letter-spacing: 0.2em;
	font-size: 14px;
	font-weight: normal;
}
#dibu .el h2:nth-of-type(1){
	padding: 46px 0 14px ;
}
#dibu .el ul{
	padding: 0 0 30px;
}
#dibu .el ul li{
	padding: 4px 0 5px 0;
	 letter-spacing: 0.2em;
}
#dibu .fr{
	width: 25%;
	padding: 0 20px 22px;
	box-sizing: border-box;
}
#dibu .fr ul{
	margin-top: 46px;
	padding: 0 0 30px;
}
#dibu .fr ul li{
	height: 51px;
	padding:  0 0 10px;
	display: table;
	 letter-spacing: 0.2em;
}
#dibu .fr ul li span{
	display: table-cell;
	vertical-align: middle;
	font-weight: 700;
	padding-left: 11px;
}
#dibu .fr ul li span img{
	vertical-align: middle;
}
#dibu .fr ul li .hov{
	display: none;
}
#dibu .fr ul li:hover .as{
	display: none;
}
#dibu .fr ul li:hover .hov{
	display: block;
}
/*尾部*/
.wb{
	background: white;
	margin-bottom: 20px;
}
.wb div{
	border-top: 1px solid #e4e8e8;
	max-width: 2000px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 70px;
	
}
.wb div:nth-of-type(2){
	padding: 20px 70px;
	text-align: center;
}
.wb div p{
	text-align: left;
	padding-bottom: 20px;
}
